In [1]:
import pandas as pd
import numpy as np

In [2]:
data = "Resources/consumer_expenditures.csv"
data_df = pd.read_csv(data)
data_df.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,"""00000""",United States,,SAPCE1,1.0,...,Personal consumption expenditures,Millions of current dollars,5536790.1,5877248.2,...,11047363.2,11363527.8,11847725.1,12263476.3,12693265.6,13233608.6,13904979.5,14392721.0,14116165.7,15902575.3
1,"""00000""",United States,,SAPCE1,2.0,...,Goods,Millions of current dollars,2006505.5,2108439.4,...,3637739.2,3729972.7,3862956.5,3922992.5,3991848.9,4159375.0,4355177.3,4473509.9,4670135.0,5496516.0
2,"""00000""",United States,,SAPCE1,3.0,...,Durable goods,Millions of current dollars,715529.6,779293.4,...,1144221.0,1189413.3,1242075.5,1307605.2,1345193.9,1398248.0,1470686.8,1510542.9,1646793.0,2060246.3
3,"""00000""",United States,,SAPCE1,4.0,...,Motor vehicles and parts,Millions of current dollars,293082.5,320204.7,...,396607.9,417533.0,441992.0,475346.0,484318.5,502150.2,520875.0,517001.3,533928.4,688718.9
4,"""00000""",United States,,SAPCE1,5.0,...,Furnishings and durable household equipment,Millions of current dollars,160490.2,173579.1,...,253938.0,263589.7,276166.5,294219.7,308489.1,322796.3,346025.8,360456.0,411923.1,495001.7

In [5]:
data_df.count()

GeoFIPS                   1444
GeoName                   1440
Region                    1440
TableName                 1440
LineCode                  1440
IndustryClassification    1440
Description               1440
Unit                      1440
1997                      1440
1998                      1440
1999                      1440
2000                      1440
2001                      1440
2002                      1440
2003                      1440
2004                      1440
2005                      1440
2006                      1440
2007                      1440
2008                      1440
2009                      1440
2010                      1440
2011                      1440
2012                      1440
2013                      1440
2014                      1440
2015                      1440
2016                      1440
2017                      1440
2018                      1440
2019                      1440
2020                      1440
2021                      1440
dtype: int64

In [7]:
data_df.dtypes

GeoFIPS                    object
GeoName                    object
Region                     object
TableName                  object
LineCode                  float64
IndustryClassification     object
Description                object
Unit                       object
1997                      float64
1998                      float64
1999                      float64
2000                      float64
2001                      float64
2002                      float64
2003                      float64
2004                      float64
2005                      float64
2006                      float64
2007                      float64
2008                      float64
2009                      float64
2010                      float64
2011                      float64
2012                      float64
2013                      float64
2014                      float64
2015                      float64
2016                      float64
2017                      float64
2018                      float64
2019                      float64
2020                      float64
2021                      float64
dtype: object

In [9]:
data_df['GeoName'].value_counts()

United States           24
Alabama                 24
New Mexico              24
New York                24
North Carolina          24
North Dakota            24
Ohio                    24
Oklahoma                24
Oregon                  24
Pennsylvania            24
Rhode Island            24
South Carolina          24
South Dakota            24
Tennessee               24
Texas                   24
Utah                    24
Vermont                 24
Virginia                24
Washington              24
West Virginia           24
Wisconsin               24
Wyoming                 24
New England             24
Mideast                 24
Great Lakes             24
Plains                  24
Southeast               24
Southwest               24
Rocky Mountain          24
New Jersey              24
New Hampshire           24
Nevada                  24
Illinois                24
Alaska                  24
Arizona                 24
Arkansas                24
California              24
Colorado                24
Connecticut             24
Delaware                24
District of Columbia    24
Florida                 24
Georgia                 24
Hawaii                  24
Idaho                   24
Indiana                 24
Nebraska                24
Iowa                    24
Kansas                  24
Kentucky                24
Louisiana               24
Maine                   24
Maryland                24
Massachusetts           24
Michigan                24
Minnesota               24
Mississippi             24
Missouri                24
Montana                 24
Far West                24
Name: GeoName, dtype: int64

In [ ]:
df['Region'] = df['Employer'].replace(
    {'1': 'New England', '2': 'Mideast', '3': 'Great Lakes', '4': '', '5': '', '6': '', '7': '', '8': ''})